<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.day.mapper.OrderDetailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.day.pojo.OrderDetails">
        <id column="order_details_id" property="orderDetailsId" />
        <result column="order_id" property="orderId" />
        <result column="product_name" property="productName" />
        <result column="unit_price" property="unitPrice" />
        <result column="piece" property="piece" />
        <result column="image" property="image" />
        <result column="money" property="money" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_details_id, order_id, product_name, unit_price, piece, image, money
    </sql>

</mapper>
