<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ls-checkbox 多选框</title>
    <link rel="stylesheet" href="../css/vmd.min.css">
    <script src="../js/vue.min.js"></script>
    <script src="../js/vmd.min.js"></script>
    <script src="../js/lvm.min.js"></script>
</head>
<body>
<div id="app" v-cloak="">
    <template>
        <ls-card class="box-card">
            <div class="text item">
                <span style="line-height: 36px;margin: 0px 40%;">ls-checkbox 多选框</span>
                <ls-button style="float: right;" type="primary" icon="round-close" @click="history.go(-1)"></ls-button>
            </div>
        </ls-card>
    </template>
    <script>
        Lvm.create({
            rootElement: '#app',
            data: function () {
                return {

                }
            },
            mounted: function () {
                var _this = this;


            },
            methods: {

            }
        })

    </script>


</div>
一组备选项中进行多选

</br></br>
<div id="app1" v-cloak="">
    <template>
        <ls-card class="box-card">
            <div slot="header" class="clearfix">
                        <span style="line-height: 36px;">
基本用法
单独使用可以表示两种状态之间的切换，写在标签中的内容为 checkbox 按钮后的介绍

::: 在ls-checkbox元素中定义v-model绑定变量，单一的checkbox中，默认绑定变量的值会是Boolean，选中为true
                        </span>
            </div>
            <div>
                <template>
                    <ls-checkbox v-model="checked">备选项</ls-checkbox>
                </template>
            </div>
        </ls-card>
    </template>
    <script>
        Lvm.create({
            rootElement: '#app1',
            data: function () {
                return {
                    checked: true
                }
            },
            mounted: function () {
                var _this = this;

            },
            methods: {

            }
        })
    </script>
</div>


</br></br>
<div id="app2" v-cloak="">
    <template>
        <ls-card class="box-card">
            <div slot="header" class="clearfix">
                        <span style="line-height: 36px;">
禁用选项
多选框不可用状态

:::设置disabled属性即可
                        </span>
            </div>
            <div>
                <template>
                    <ls-checkbox v-model="checked1" disabled="">备选项1</ls-checkbox>
                    <ls-checkbox v-model="checked2" disabled="">备选项</ls-checkbox>
                </template>
            </div>
        </ls-card>
    </template>
    <script>
        Lvm.create({
            rootElement: '#app2',
            data: function () {
                return {
                    checked1: false,
                    checked2: true
                }
            },
            mounted: function () {
                var _this = this;

            },
            methods: {

            }
        })
    </script>
</div>


</br></br>
<div id="app3" v-cloak="">
    <template>
        <ls-card class="box-card">
            <div slot="header" class="clearfix">
                        <span style="line-height: 36px;">
多选框组
适用于多个勾选框绑定到同一个数组的情景，通过是否勾选来表示这一组选项中选中的项

::: checkbox-group元素能把多个 checkbox 管理为一组，只需要在 Group 中使用v-model绑定Array类型的变量即可。 ls-checkbox 的 label属性是该 checkbox 对应的值，若该标签中无内容，则该属性也充当 checkbox 按钮后的介绍。label与数组中的元素值相对应，如果存在指定的值则为选中状态，否则为不选中


                        </span>
            </div>
            <div>
                <template>
                    <ls-checkbox-group v-model="checkList">
                        <ls-checkbox label="复选框 A">
                            <ls-checkbox label="复选框 B">
                                <ls-checkbox label="复选框 C">
                                    <ls-checkbox label="禁用" disabled="">
                                        <ls-checkbox label="选中且禁用" disabled="">
                                        </ls-checkbox></ls-checkbox></ls-checkbox></ls-checkbox></ls-checkbox></ls-checkbox-group>
                </template>
            </div>
        </ls-card>
    </template>
    <script>
        Lvm.create({
            rootElement: '#app3',
            data: function () {
                return {
                    checkList: ['选中且禁用','复选框 A']
                }
            },
            mounted: function () {
                var _this = this;

            },
            methods: {

            }
        })
    </script>
</div>


</br></br>
<div id="app4" v-cloak="">
    <template>
        <ls-card class="box-card">
            <div slot="header" class="clearfix">
                        <span style="line-height: 36px;">
全选组件
::: indeterminate 属性用以表示 checkbox 的不确定状态，一般用于实现全选的效果
                        </span>
            </div>
            <div>
                <template>
                    <div>
                        <ls-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选</ls-checkbox>
                        <div style="margin: 15px 0;"></div>
                        <ls-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                            <ls-checkbox v-for="city in cities" :label="city" :key="city">{{city}}</ls-checkbox>
                        </ls-checkbox-group>
                    </div>
                </template>
            </div>
        </ls-card>
    </template>
    <script>
        const  cityOptions = ['上海', '北京', '广州', '深圳'];
        Lvm.create({

            rootElement: '#app4',
            data: function () {

                return {
                    checkAll: true,
                    checkedCities: ['上海', '北京'],
                    cities: cityOptions,
                    isIndeterminate: true
                }
            },
            mounted: function () {
                var _this = this;

            },
            methods: {
                handleCheckAllChange: function (event) {
                    this.checkedCities = event.target.checked ? cityOptions : [];
                    this.isIndeterminate = false;
                },
                handleCheckedCitiesChange: function (value) {
                    let checkedCount = value.length;
                    this.checkAll = checkedCount === this.cities.length;
                    this.isIndeterminate = checkedCount > 0 && checkedCount < this.cities.length;
                }
            }
        })
    </script>
</div>


<div>
    Checkbox 属性
    参数	说明	类型	可选值	默认值
    label	选中状态的值（只有在checkbox-group或者绑定对象类型为array时有效）	string	—	—
    true-label	选中时的值	string, number	—	—
    false-label	没有选中时的值	string, number	—	—
    name	原生 name 属性	string	—	—
    disabled	按钮禁用	boolean	—	false
    checked	当前是否勾选	boolean	—	false
    indeterminate	设置 indeterminate 状态，只负责样式控制	boolean	—	false
    Checkbox-Group属性
    参数	说明	类型	可选值	默认值
    size	Checkbox 按钮组尺寸	string	large, small	—
    fill	按钮激活时的填充色和边框色	string	—	#20a0ff
    text-color	按钮激活时的文本颜色	string	—	#ffffff
    min	可被勾选的 checkbox 的最小数量	number	—	—
    max	可被勾选的 checkbox 的最大数量	number	—	—
    Checkbox 事件
    事件名称	说明	回调参数
    change	当绑定值变化时触发的事件	event 事件对象
</div>


</body>
</html>

