<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ls-carsousel 走马灯</title>
    <link rel="stylesheet" href="../css/vmd.min.css">
    <script src="../js/vue.min.js"></script>
    <script src="../js/vmd.min.js"></script>
    <script src="../js/lvm.min.js"></script>
</head>
<body>
<div id="app" v-cloak="">
    <template>
        <ls-card class="box-card">
            <div class="text item">
                <span style="line-height: 36px;margin: 0px 40%;">ls-carsousel 走马灯</span>
                <ls-button style="float: right;" type="primary" icon="round-close" @click="history.go(-1)"></ls-button>
            </div>
        </ls-card>
    </template>
    <script>
        Lvm.create({
            rootElement: '#app',
            data: function () {
                return {

                }
            },
            mounted: function () {
                var _this = this;


            },
            methods: {

            }
        })

    </script>
</div>
在有限空间内，循环播放同一类型的图片、文字等内容

</br></br>
<div id="app1" v-cloak="">
    <template>
        <ls-card class="box-card">
            <div slot="header" class="clearfix">
                        <span style="line-height: 36px;">
基本用法
适用广泛的基础用法

::: 结合使用ls-carousel和ls-carousel-item标签就得到了一个走马灯。幻灯片的内容是任意的，需要放在ls-carousel-item标签中。默认情况下，在鼠标 hover 底部的指示器时就会触发切换。通过设置trigger属性为click，可以达到点击触发的效果。
                        </span>
            </div>
            <div>
                <template>
                    <div>
                        <div class="block" style="width: 500px;margin-bottom: 10px;">
                            <span class="demonstration">默认 Hover 指示器触发</span>
                            <ls-carousel height="150px">
                                <ls-carousel-item v-for="item in 4" :key="item" style="background: greenyellow">
                                    <h3>{{ item }}</h3>
                                </ls-carousel-item>
                            </ls-carousel>
                        </div>
                        <div class="block" style="width: 500px;margin-bottom: 10px;">
                            <span class="demonstration">Click 指示器触发</span>
                            <ls-carousel trigger="click" height="150px">
                                <ls-carousel-item v-for="item in 4" :key="item" style="background: greenyellow">
                                    <h3>{{ item }}</h3>
                                </ls-carousel-item>
                            </ls-carousel>
                        </div>
                    </div>
                </template>
            </div>
        </ls-card>
    </template>
    <script>
        Lvm.create({
            rootElement: '#app1',
            data: function () {
                return {

                }
            },
            mounted: function () {
                var _this = this;

            },
            methods: {

            }
        })
    </script>
</div>


</br></br>
<div id="app2" v-cloak="">
    <template>
        <ls-card class="box-card" >
            <div slot="header" class="clearfix">
                        <span style="line-height: 36px;">
指示器
可以将指示器的显示位置设置在容器外部

:::indicator-position属性定义了指示器的位置。默认情况下，它会显示在走马灯内部，设置为outside则会显示在外部；设置为none则不会显示指示器。
                        </span>
            </div>
            <div>
                <template>
                    <div class="block" style="width: 500px;margin-bottom: 10px;">
                        <span class="demonstration">指示器:可以将指示器的显示位置设置在容器外部</span>
                        <ls-carousel indicator-position="outside">
                            <ls-carousel-item v-for="item in 4" :key="item" style="background: greenyellow">
                                <h3>{{ item }}</h3>
                            </ls-carousel-item>
                        </ls-carousel>
                    </div>
                </template>
            </div>
        </ls-card>
    </template>
    <script>
        Lvm.create({
            rootElement: '#app2',
            data: function () {
                return {

                }
            },
            mounted: function () {
                var _this = this;

            },
            methods: {

            }
        })
    </script>
</div>

</br></br>
<div id="app3" v-cloak="">
    <template>
        <ls-card class="box-card">
            <div slot="header" class="clearfix">
                        <span style="line-height: 36px;">
切换箭头
可以设置切换箭头的显示时机

::: arrow属性定义了切换箭头的显示时机。默认情况下，切换箭头只有在鼠标 hover 到走马灯上时才会显示；若将arrow设置为always，则会一直显示；设置为never，则会一直隐藏。
                        </span>
            </div>
            <div>
                <template>
                    <div class="block" style="width: 500px;margin-bottom: 10px;">
                        <span class="demonstration">切换箭头:可以设置切换箭头的显示时机</span>
                        <ls-carousel :interval="5000" arrow="always">
                            <ls-carousel-item v-for="item in 4" :key="item" style="background: greenyellow">
                                <h3>{{ item }}</h3>
                            </ls-carousel-item>
                        </ls-carousel>
                    </div>
                </template>
            </div>
        </ls-card>
    </template>
    <script>
        Lvm.create({
            rootElement: '#app3',
            data: function () {
                return {

                }
            },
            mounted: function () {
                var _this = this;

            },
            methods: {

            }
        })
    </script>
</div>


</br></br>
<div id="app4" v-cloak="">
    <template>
        <ls-card class="box-card">
            <div slot="header" class="clearfix">
                        <span style="line-height: 36px;">
卡片化
当页面宽度方向空间空余，但高度方向空间匮乏时，可使用卡片风格

::: 将type属性设置为card即可启用卡片模式。从交互上来说，卡片模式和一般模式的最大区别在于，可以通过直接点击两侧的幻灯片进行切换。
                        </span>
            </div>
            <div>
                <template>
                    <div class="block" style="margin-bottom: 10px;">
                        <span class="demonstration">卡片化:当页面宽度方向空间空余，但高度方向空间匮乏时，可使用卡片风格</span>
                        <ls-carousel :interval="4000" type="card" height="200px">
                            <ls-carousel-item v-for="item in 6" :key="item" style="background: greenyellow">
                                <h3>{{ item }}</h3>
                            </ls-carousel-item>
                        </ls-carousel>
                    </div>
                </template>
            </div>
        </ls-card>
    </template>
    <script>
        Lvm.create({
            rootElement: '#app4',
            data: function () {
                return {

                }
            },
            mounted: function () {
                var _this = this;

            },
            methods: {

            }
        })
    </script>
</div>


<div>

</div>


Carousel 属性
参数	说明	类型	可选值	默认值
height	走马灯的高度	string	—	—
initial-index	初始状态激活的幻灯片的索引，从 0 开始	number	—	0
trigger	指示器的触发方式	string	click	—
autoplay	是否自动切换	boolean	—	true
interval	自动切换的时间间隔，单位为毫秒	number	—	3000
indicator-position	指示器的位置	string	outside/none	—
arrow	切换箭头的显示时机	string	always/hover/never	hover
type	走马灯的类型	string	card	—
Carousel 事件
事件名称	说明	回调参数
change	幻灯片切换时触发	目前激活的幻灯片的索引，原幻灯片的索引
Carousel 方法
方法名称	说明	回调参数
setActiveItem	手动切换幻灯片	需要切换的幻灯片的索引，从 0 开始；或相应 ms-carousel-item 的 name 属性值
prev	切换至上一张幻灯片	—
next	切换至下一张幻灯片	—
Carousel-Item 属性
参数	说明	类型	可选值	默认值
name	幻灯片的名字，可用作 setActiveItem 的参数	string	—	—
label	该幻灯片所对应指示器的文本	string	—	—

</body>
</html>

